* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(6, 8, 12, 0.80), rgba(6, 8, 12, 0.80)), url(imagenes/fondo\ nuevo.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo-bienvenida {
    border: solid 1px black;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
}


.productos-estilo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.tarjeta {
    text-align: center;
}

.tarjeta img {
    width: 350px;
    height: 350px;
}

.tarjeta p {
    color: white;
}

.tarjeta h3 {

    border: solid black 1px;
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin: 25px;


}

.tarjeta button{
    margin-bottom: 30px;
    color: white;
    background-color: black;
    width: 50%;
} 



/*------------FOOTER-----------*/

.footer {
    margin-top: auto;
}

.footer__info {
    color: white;
    text-align: center;
}

.footer__redes {
    text-align: center;
    font-size: 15px;
}

.footer__copy {
    color: white;
    text-align: center;
    font-size: 15px;
}